<div class="row">

  <div class="large-12 columns">
    <div id="featured">
      <div class="w3-content w3-section" style="max-width:600px">
        <img src="http://cdn02.nintendo-europe.com/media/images/10_share_images/SI_GenericNintendo.jpg" style="width:200%">
      </div>
    <br>
      <div class="large-8 columns">
        <div class="row">
          <div class="large-4 small-6 columns">
            <img src="http://www.gamestop.com/common/images/lbox/123781b.jpg" height="150px" width="150px">
            <div class="panel">
              <h5>Paper Mario:Color Splash</h5>
              <h6 class="subheader">$59.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://art.gametdb.com/wiiu/coverHQ/US/AY5E.jpg">
            <div class="panel">
              <h5>SteamWorld Hesit</h5>
              <h6 class="subheader">$19.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="https://66.media.tumblr.com/7009710c92403ac7ebebd28465ca417b/tumblr_inline_nzs6kddzek1ryqlka_540.png">
            <div class="panel">
              <h5>Noitu Love: Devolution</h5>
              <h6 class="subheader">$9.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://nintendowire.com/wp-content/uploads/2016/09/SuperMarioMaker-3DS-BoxArt.jpg">
            <div class="panel">
              <h5>Super Mario Maker (3DS)</h5>
              <h6 class="subheader">$39.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://www.hardcoregamer.com/wp-content/uploads/2016/05/PokC%CC%A7mon-Sun-box-art.jpg">
            <div class="panel">
              <h5>Pokemon Sun (3DS)</h5>
              <h6 class="subheader">$49.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://www.hardcoregamer.com/wp-content/uploads/2016/05/PokC%CC%A7mon-Moon-box-art.jpg">
            <div class="panel">
              <h5>Pokemon Moon (3DS)</h5>
              <h6 class="subheader">$49.99</h6>
            </div>
          </div>
        </div>
