<div class="row">

  <div class="large-12 columns">
    <div id="featured">
      <div class="w3-content w3-section" style="max-width:600px">
        <img src="http://keycdn.theouterhaven.net/wp-content/uploads/2015/09/playstation_logo.png" style="width:200%">
      </div>

      <br>
      <div class="large-8 columns">
        <div class="row">
          <div class="large-4 small-6 columns">
            <img src="http://images.pushsquare.com/games/ps4/last_guardian/cover_large.jpg" height="150px" width="150px">
            <div class="panel">
              <h5>The Last Guardian</h5>
              <h6 class="subheader">$59.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://releases.havamedia.netdna-cdn.com/images/image?width=300&src=http://releasesdisstrorage.blob.core.windows.net/image/554eae05-c2cd-49da-8f82-8cb4e9a201e4.jpg">
            <div class="panel">
              <h5>How We Soar</h5>
              <h6 class="subheader">$19.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://www.technobuffalo.com/wp-content/uploads/2016/07/Final-Fantasy-XV-covers-1-1280x1597.jpg">
            <div class="panel">
              <h5>Final Fantasy XV</h5>
              <h6 class="subheader">$59.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="https://upload.wikimedia.org/wikipedia/az/6/6b/Steins_Gate_0_ps4_cover.jpg">
            <div class="panel">
              <h5>Steins;Gate </h5>
              <h6 class="subheader">$34.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://regionps.com/wp-content/uploads/2016/11/steep-caratula.jpg">
            <div class="panel">
              <h5>Steep</h5>
              <h6 class="subheader">$59.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://www.gamestop.com/common/images/lbox/131405b.jpg">
            <div class="panel">
              <h5>Darksiders: Warmastered Edition</h5>
              <h6 class="subheader">$19.99</h6>
            </div>
          </div>
        </div>
