<div class="row">

  <div class="large-12 columns">
    <div id="featured">
      <div class="w3-content w3-section" style="max-width:600px">
        <img src="http://vignette2.wikia.nocookie.net/logopedia/images/f/f8/Xbox_2013_Logo.png/revision/latest?cb=20131202030437" style="width:200%">
      </div>

<br>




      <div class="large-8 columns">
        <div class="row">
          <div class="large-4 small-6 columns">
            <img src="https://static.raru.co.za/cover/2016/09/09/5039546-l.jpg?v=1473428708">
            <div class="panel">
              <h5>Steep</h5>
              <h6 class="subheader">$59.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="https://static.raru.co.za/cover/2016/08/29/5014053-l.jpg?v=1472480593">
            <div class="panel">
              <h5>The Dwarves</h5>
              <h6 class="subheader">$39.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://media.vandal.net/m/40730/darksiders-warmastered-edition-2016729114222_1.jpg">
            <div class="panel">
              <h5>Darksiders: Warmastered Edition</h5>
              <h6 class="subheader">$19.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="https://www.vica.io/wp-content/uploads/2016/07/51XA4jVJXiL.jpg">
            <div class="panel">
              <h5>Batman: The Telltale Series</h5>
              <h6 class="subheader">$29.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://gameidealist.com/wp-content/uploads/Watch-Dogs-2-Xbox-One.jpg">
            <div class="panel">
              <h5>Watch Dogs 2</h5>
              <h6 class="subheader">$59.99</h6>
            </div>
          </div>
          <div class="large-4 small-6 columns">
            <img src="http://gameidealist.com/wp-content/uploads/Assassins-Creed-The-Ezio-Collection-Xbox-One.jpg">
            <div class="panel">
              <h5>Assassin's Creed: The Ezio Collection</h5>
              <h6 class="subheader">$59.99</h6>
            </div>
          </div>
        </div>
